.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-evenly {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center-start {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.flex-center-end {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.flex-between-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-between-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.flex-evenly-start {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.flex-evenly-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}